<h2>Menu du jour</h2>
<ul>
    <li>
        Plat principal
        <ol>
            <a href="#id1"><li>Kosksi</li></a>
            <a href="#id2"><li>Makrouna</li></a>
            <a href="#id3"><li>Rouz</li></a>
        </ol>
    </li>
    <br>
    <li>
        Dessert
        <ol>
            <li>Aasida</li>
            <li>mousse</li>
        </ol>
    </li>
<br>
    <li>
        Boisson
        <ol>
            <li>
                Gazouz
                <ol type="a">
                    <li>canette</li>
                    <li>bellar</li>
                </ol>
            </li>
            <li>Eau</li>
        </ol>
    </li>
</ul>